@font-face {
    font-family: 'RobotoMono-Regular', sans-serif;
    src: url('./fonts/RobotoMono-Regular.ttf');
    font-weight: 400;
}

body {
    background-color: rgb(190, 219, 234);
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 48px auto;
}

.main-info {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 48px;
}

@media (min-width: 768px) {
    .main-info {
        flex-direction: row;
        align-items: flex-start;
    }
}

a {
    color:rgb(68, 68, 206, 0.9);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: 'RobotoMono-Regular', sans-serif;
    font-weight: 400;
}

.header {
    padding-block: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 16px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color:aliceblue;
}

.header .header_title, .header .header_description {
    margin-block: 8px;
}

.header .header_title {
    font-size: 28px;
}

.section-header {
    color: rgb(119, 116, 116);
    border-bottom: 1px solid rgb(45, 45, 45);
    text-align: center;
    padding-block: 8px;
}

.avatar-wrapper {
    position: relative;
    width: fit-content;
}

.avatar-wrapper::after {
    content: '☺';
    position: absolute;
    bottom: 32px;
    right: 32px;
    background-color:aliceblue;
    color:coral;
    font-size: 16px;
    border-radius: 50%;
}

.main-info img.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #484848;
}

.contacts > .section-content {
    width: 500px;
    margin: 0 0 0 auto;  
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.markedText {
    background-color: yellow;
}

.contactLink {
    display: inline-block;
    padding-inline: 16px;
}

.navigation {
    width: 100%;
}

.navigation_menu {
    display: flex;
    justify-content: start;
    gap: 16px;
    padding-inline: 16px;
    width: 100%;
}

.navigation_item {
    padding-bottom: 8px;
    border-bottom: #484848;
    /* flex-basis: 150px;
    flex-grow: 1;
    flex-shrink: 1; */
    flex: 1 1 150px; /* shorthand for flex-grow, flex-shrink, flex-basis */
}

.navigation_item:first-child {
    flex-grow: 2;
    flex-shrink: 2;
}

.navigation_item:last-child {
    flex-grow: 0;
    flex-shrink: 0;
}

.navigation_link {

}

.header_body {
    display: none;
}

.main-info_description {
    width: 60%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 48px;
    column-gap: 32px;
    width: 100%;
    margin-top: 40px;
}

.grid-card {
    border: 1px solid #7a7979;
    padding: 16px;
    border-radius: 8px;
    background-color:aliceblue;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    place-items: stretch;
    padding-block: 16px;
}

.skills-list_item {
    background-color:aquamarine;
    color: darkblue;
    padding-block: 4px;
    padding-inline: 6px;
    border-radius: 8px;
    text-align: center;
}

.contacts .section-content {
    margin-block: 16px;
}

.contacts .section-content li {
    padding-bottom: 8px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}